<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.book.management.dao.FullTextUploadFlowDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springcloud.book.management.domain.FullTextUploadFlow">
        <id column="upload_flow_id" property="uploadFlowId" />
        <result column="abstract_id" property="abstractId" />
        <result column="id" property="id" />
        <result column="upload_time" property="uploadTime" />
        <result column="upload_file_url" property="uploadFileUrl" />
        <result column="file_path_url" property="filePathUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        upload_flow_id, abstract_id, id, upload_time, upload_file_url, file_path_url
    </sql>

    <insert id="insertFullText">
        insert into fd_full_text_upload_flow (
            upload_flow_id,
            abstract_id,
            id,
            upload_time,
            upload_file_url,
            file_path_url
        )values (
            #{uploadFlowId},
            #{abstractId},
            #{id},
            #{uploadTime},
            #{uploadFileUrl},
            #{filePathUrl}
        )
    </insert>
    <select id="selectFullTextUploadFlowByAbstractId" resultMap="BaseResultMap">
        SELECT
          *
        FROM
          fd_full_text_upload_flow
        WHERE
          abstract_id = #{abstractId}
        LIMIT 1
    </select>

</mapper>
