<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springcloud.book.management.dao.NoTextRecordDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.springcloud.book.management.domain.NoTextRecord">
        <id column="no_text_id" property="noTextId" />
        <result column="abstract_id" property="abstractId" />
        <result column="record_time" property="recordTime" />
        <result column="is_seek_out" property="isSeekOut" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        no_text_id, abstract_id, record_time, is_seek_out
    </sql>

    <select id="selectNotextRecordByAbstractId" resultMap="BaseResultMap">
        select
          *
        from
          fd_no_text_record
        where
          abstract_id = #{abstractId}
        limit 1
    </select>

    <insert id="insertNoTextRecord">
        insert into fd_no_text_record (
            no_text_id,
            abstract_id,
            record_time,
            is_seek_out
        )values (
            #{noTextId},
            #{abstractId},
            #{recordTime},
            #{isSeekOut}
        )
    </insert>

</mapper>
